* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-size: x-large;
}
.MainContainer {
  background-color: rgba(128, 128, 128, 0.575);
  color: #000000;
  font-size: xx-large;
  width: 600px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dotted green;
  border-radius: 10px;
}
.MainContainer:hover {
  cursor: pointer;
  background-color: black;
  color: green;
  border: 2px dotted green;
  transition: all ease-in-out 0.3s;
}
