<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1>span {
        color: #ffc400;
      }
    </style>
    <title>Ejs Exercise</title>
  </head>
  <body>
    <h1>Hi I Am <span>Debargha Nandi</span></h1>
  </body>
</html>
